[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-restframework = "*"
django = "*"
django-cryptography-5 = "*"
celery = "*"
django-celery-beat = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
